@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: inline-block;
}

:root{
    --primary-font: "Georama", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --primary-color: #FFFFFF;
    --secondary-color: #D47C00;
    --tertiary-color: #FF0000;
    --quaternary-color: #0B4B78;
    --quinary-color: #0E96D4;
    --senary-color: #298843;    
}

header{
    box-shadow: #D47C00;
}


.header_top p{
    text-align: center;
    font-size: 15px;
    font-family: var(--primary-font);
    background-color: var(--senary-color);
    padding: 15px;
    
};

.container{
    max-width: 1200px;
    margin: 0 auto;
    

}


.main_header{
    padding: 20px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.main_header img{
    max-width: 130px;
}
 

.menu a{
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    display: inline-block;
    transition: all 0.5s linear;
    border-radius: 5px;
    
}

.button:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 1px solid var(--tertiary-color);    
}


#banner{
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 100px 0;
    background-repeat: no-repeat;
    position: relative;
    
}

#banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.269);
    z-index: 1;
}

.banner_text{
    h1,h5,li,a{
        color: var(--primary-color);
        margin-left: 50px;
        position: relative;
        z-index: 2;
    
    }
}

.banner_text h1{
    font-size: 30px;
    line-height: 50px;
    font-family: var(--secondary-font);
}

.banner_text h5{
    font-size: 20px;
    line-height: 15px;
    font-family: var(--primary-font);
    padding: 10px 0;
}

.button{
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    padding: 15px 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    display: inline-block;
    transition: all 0.5s linear;
    border-radius: 5px;

}

.col1{
    margin-left: 50px;
}

.col1 h3{
    font-size: 15px;
    line-height: 20px;
    font-family: var(--secondary-font);
    color: var(--quaternary-color);
    padding: 10px 0;
}

.col1 h2{
    font-size: 40px;
    line-height: 50px;
    font-family: var(--secondary-font);
    color: var(--quaternary-color);
    padding: 10px 0;
}

.col1 p{
    font-size: 15px;
    line-height: 30px;
    font-family: var(--primary-font);
    color: var(--quaternary-color);
    padding: 10px 0;
    font-weight: 600;
}

.col1 a{
    color: var(--primary-color);
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    padding: 15px 5px;
    border: 1px solid var(--quaternary-color);
    background-color: var(--quaternary-color);
    font-family: var(--primary-font);
    display: inline-block;
    transition: all 0.5s linear;
    border-radius: 5px;
}

.col1 a:hover{
    background-color: var(--quinary-color);
    color: var(--primary-color);
    border: 1px solid var(--quinary-color);

}

.col2 img{

    max-width: 80%;
    width: 100%;
    height: auto;
    /* flex: 1; */
    

}

.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    gap: 50px;
    
}

#optimal_health{
    padding-top: 120px;
    background-color: #F5F5F5;
    /* opacity: 0.7; */
}

#optimal_health h2{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-family: var(--secondary-font);
    color: var(--quaternary-color);
    padding: 10px 0;
}

#optimal_health h4{
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-family: var(--primary-font);
    color: var(--quaternary-color);
    padding: 10px 0;
}
.row2{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 30px;
    /* flex-wrap: wrap; */
    margin-left: 50px;
    
    
}

.col1_2{

    border: 2px solid var(--primary-color);
    background-color: var(--primary-color)
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    

}



.col1_2 h3{
    font-size: 15px;
    line-height: 20px;
    font-family: var(--secondary-font);
    color: var(--quinery-color);
    padding: 10px 0;

}

.col1_2 p{
    font-size: 15px;
    line-height: 30px;
    font-family: var(--primary-font);
    color: var(--quinery-color);
    padding: 10px 0;
    font-weight: 600;
}

